[Unit]
Description=SLOONG.COM Walls Service
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/walls start
ExecReload=/etc/init.d/walls restart
ExecStop=/etc/init.d/walls stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
