# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.sdf
*.suo
*.opensdf
*.db
*.user
*.ipch
.vs

build/debug
build/release/
build/*.tar
servctrl/servctrl/bin/
servctrl/servctrl/obj
build/sloongnet_control
build/debug-sloongnet_proxy
