
build/debug/
build/release/
build/sloongnet-debug/
build/sloongnet-release/
build/*.tar
build/cache/
sloongnet-*.zip
sloongnet/modules/middleLayer/rust/target/
!protocol/*.proto
*.pb.cc
*.pb.h
configuation.db
