{
    "Manager":
    {

    },

    "Gateway":
    {

    },

    "FileCenter":
    {
        "UploadTempSaveFolder":"./upload/",
        "ArchiveFolder":"./archive/"
    },

    "DataCenter":
    {
        "Address":"127.0.0.1",
        "Port":3306,
        "User":"root",
        "Password":"test"
    },

    "Firewall":
    {

    },

    "Processer":
    {
        "Lua":
        {
            "LuaContextQuantity": 1,
            "LuaScriptFolder": "/app/scripts",
            "LuaEntryFile": "main.lua",
            "LuaEntryFunction": "Init",
            "LuaSocketCloseFunction": "SocketCloseProcess",
            "LuaProcessFunction": "ProgressMessage"
        }
    }

}