#ifndef VERSION_H

#define VERSION_TEXT		"0.6.1.$GIT_VERSION"
#define PRODUCT_TEXT		"Sloong Network Engine"
#define COPYRIGHT_TEXT		"Copyright 2015-2016 Sloong.com. All Rights Reserved "

#endif // !VERSION_H
