#ifndef VERSION_H

#define VERSION_TEXT		"0.8.0.GIT_VERSION"
#define PRODUCT_TEXT		"Sloong Network Engine"
#define COPYRIGHT_TEXT		"Copyright 2015-2017 Sloong.com. All Rights Reserved "

#endif // !VERSION_H
