<!--
 * @Author: WCB
 * @Date: 2019-11-14 14:14:34
 * @LastEditors: WCB
 * @LastEditTime: 2019-12-12 16:02:56
 * @Description: file content
 -->
{%extends "base.html" %}
{% load filters_extend %}
{% block mainbody %}


<div class="row clearfix">
    <div class="col-md-3 column"></div>
    <div class="col-md-6 column">
        {% if Response %} {{ Message }} {% endif %}
        <form method="POST">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>配置名称</th>
                        <th>配置值</th>
                    </tr>
                </thead>
                <tbody>
                    {{ form }}
                </tbody>
            </table>
            <label id="message"></label>
            <div align="center">
                <button type="submit" class="btn btn-primary" value="Submit">提交</button>
                <button type="button" class="btn btn-default" onclick="history.back()">取消</button>
            </div>
        </form>
    </div>
    <div class="col-md-3 column"></div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}