<!--
 * @Author: WCB
 * @Date: 2019-11-14 14:14:34
 * @LastEditors: WCB
 * @LastEditTime: 2019-11-18 18:51:54
 * @Description: file content
 -->
{%extends "base.html" %}
{% load filters_extend %}
{% block mainbody %}


<div class="row clearfix">
    <div class="col-md-3 column"></div>
    <div class="col-md-6 column">
        {% if Response %} {{ Message }} {% endif %}
        <form method="POST">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>配置名称</th>
                        <th>配置值</th>
                    </tr>
                </thead>
                <tbody>
                    {{ form }}
                    {% for key,value in ConfigList.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>
                            {% if value.0 == 'bool' %}
                                <input type="checkbox" name="{{ key }}" {% if value.1 %}checked="checked"{% endif %} >
                            {% elif value.0 == 'int' %}
                                <input type="number" name="{{ key }}" class="form-control" {% if value.2 %}required="required"{% endif %} value="{{ value.1 }}">
                            {% elif value.0 == 'str' %}
                                <input type="text" name="{{ key }}" class="form-control" {% if value.2 %}required="required"{% endif %} value="{{ value.1 }}">
                            {% elif value.0 == 'tuple' %}
                                <select class="form-control" name="{{ key }}">
                                    {% for i in value.3 %}
                                    <option value="{{ i.1 }}" {% if value.1 == i.1 %}selected="selected"{% endif %} >{{ i.0 }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            <label id="message"></label>
            <div align="center">
                <button type="submit" class="btn btn-primary" value="Submit">提交</button>
                <button type="button" class="btn btn-default" onclick="history.back()">取消</button>
            </div>
        </form>
    </div>
    <div class="col-md-3 column"></div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}