<!--
 * @Author: WCB
 * @Date: 2019-11-14 14:14:34
 * @LastEditors: WCB
 * @LastEditTime: 2020-03-13 16:29:33
 * @Description: file content
 -->
{%extends "base.html" %}

{% block mainbody %}

    <h3 align="center">选择目标</h3>
    <a href="/settings/list_modules"><button type="button"
        class="btn btn-default">模块配置</button></a>
    <a href="/settings/list_templates"><button type="button"
        class="btn btn-default">模板配置</button></a>
    <a href="/settings/list_control"><button type="button"
        class="btn btn-default">控制中心配置</button></a>

{% endblock %}
