<!--
 * @Author: WCB
 * @Date: 2019-11-14 14:14:34
 * @LastEditors: WCB
 * @LastEditTime: 2020-03-13 11:11:42
 * @Description: file content
 -->
{%extends "base.html" %}
{% load filters_extend %}
{% block mainbody %}


<div class="row clearfix">
    <div class="col-md-3 column"></div>
    <div class="col-md-6 column">
        {% if Response %} {{ Message }} {% endif %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>IP</th>
                    <th>端口</th>
                    <th>UUID</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ControlList %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.ip}}</td>
                    <td>{{item.port}}</td>
                    <td>{{item.uuid}}</td>
                    <td>
                        <a href="/settings/del_control/{{item.uuid}}/"><button>删除</button></a>
                        <a href="/settings/config_control/{{item.uuid}}/"><button>编辑</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3 column"></div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}