<!--
 * @Author: WCB
 * @Date: 2019-11-14 14:40:15
 * @LastEditors: WCB
 * @LastEditTime: 2019-11-14 20:42:55
 * @Description: file content
 -->
<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>{{ Title }} - {{ AppName }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
</head>

<body>

    {% include "navbar.html" %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                {% block mainbody %}
                <p>original</p>
                {% endblock %}
            </div>
        </div>
    </div>

    <script text="text/javascript">
        {% block javascript %}
        {% endblock %}
    </script>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <br>
    <br>
    <nav class="navbar navbar-default navbar-bottom form-control-static">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <p class="text-left">
                        @2018-2019 Sloong.com {{ ProjectName }}
                    </p>
                </div>
                <div class="col-md-6 column">
                    <p class="text-right">
                        {{ Version }}
                    </p>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>