<!--
 * @Author: WCB
 * @Date: 2019-11-15 13:56:16
 * @LastEditors: WCB
 * @LastEditTime: 2019-12-12 18:23:36
 * @Description: file content
 -->
<div>
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="/">{{ SiteName }}</a>
            <ul class="nav navbar-nav">
                <li {% if IsHomePage %} class="active" {% endif %}>
                    <a href="/">首页</a>
                </li>
                <li {% if IsStylePage %} class="active" {% endif %}>
                    <a href="/style">分类</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if CurrentControl %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ CurrentControl }}<strong
                            class="caret"></strong></a>

                    <ul class="dropdown-menu">
                        {% for item in ControlList %}
                        <li>
                            <a href="/settings/set_current_control/{{item.uuid}}">{{item.name}}({{item.ip}})</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% if UserName %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ UserName }}<strong
                            class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        {% if IsAdmin %}
                        <li>
                            <a href="/admin">管理员</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/user">用户中心</a>
                        </li>
                        <li>
                            <a href="/Setting">设置</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="/login?type=exit">退出</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li {% if IsLoginPage %} class="active" {% endif %}><a href="/login">登陆</a></li>
                <li {% if IsRegisterPage %} class="active" {% endif %}><a href="/register">注册</a></li>
                {% endif %}
            </ul>
            </li>
        </div>
    </nav>
</div>